.mainContainer {
	background-color: #FFFFCC;
	margin: 0px;
	background-image: url('images/bg.gif');
	background-repeat: repeat;
}
#mainContainer .containerShadow {
	height: 1300px;
	width: 990px;
	text-align:center;
	margin-left:auto; 
	margin-right:auto;
	background-color:#FFFFFF;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#909090,direction=120,strength=4);
	-moz-box-shadow: 2px 2px 10px #909090;/*firefox*/
	-webkit-box-shadow: 2px 2px 10px #909090;/*safarichrome*/
	box-shadow:2px 2px 10px #909090;/*operaie9*/

}
#mainContainer .containerShadow .head {
	height: 150px;
	background-image: url('images/banner.jpg');
	background-attachment:inherit;
	background-repeat: no-repeat;
	background-position: left top;
}
#mainContainer .containerShadow .menu .login {
	position:relative;
	left:850px;
	background-color: #F93;
	color:#FFF;
	height: 50px;
	width: 100px;
	border-radius:15px 15px 15px 15px;
	line-height:50px;
	font-family:'SimHei';
	font-size:22px;
	letter-spacing:5px;
	-webkit-box-reflect: below 5px -webkit-gradient(linear, center top, center bottom, from(transparent),color-stop(0.2, transparent), to(white));  
	-moz-user-select: none;  
	-khtml-user-select: none;              		    user-select: none;  
	cursor:pointer;
}
#mainContainer .containerShadow .menu .register {
	position: relative;
	left: 740px;
	top: -50px;
	background-color: #F93;
	color:#FFF;
	height: 50px;
	width: 100px;
	border-radius: 15px 15px 15px 15px;
	line-height:50px;
	font-family:'SimHei';
	font-size:22px;
	letter-spacing:5px;
	-webkit-box-reflect: below 5px -webkit-gradient(linear, center top, center bottom, from(transparent),color-stop(0.2, transparent), to(white)); 
	-moz-user-select: none;  
	-khtml-user-select: none;              		    user-select: none; 
	cursor:pointer; 
}
#mainContainer .containerShadow .menu {
	height: 100px;
	overflow: hidden;	
}
#mainContainer .containerShadow .menu .item1 {
	background-color: #3CC;
	position: relative;
	left: 10px;
	top: -100px;
	color: #FFF;
	height: 30px;
	width: 100px;
	border-radius: 15px 15px 15px 15px;
	line-height: 30px;
	font-family: 'SimHei';
	font-size: 18px;
	letter-spacing: 2px;
	-webkit-box-reflect: below 5px -webkit-gradient(linear, center top, center bottom, from(transparent),color-stop(0.2, transparent), to(white));
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	cursor: pointer;
}
#mainContainer .containerShadow .menu .item2 {
	background-color: #3CC;
	position: relative;
	left: 130px;
	top: -130px;
	color: #FFF;
	height: 30px;
	width: 170px;
	border-radius: 15px 15px 15px 15px;
	line-height: 30px;
	font-family: 'SimHei';
	font-size: 18px;
	letter-spacing: 2px;
	-webkit-box-reflect: below 5px -webkit-gradient(linear, center top, center bottom, from(transparent),color-stop(0.2, transparent), to(white));
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	cursor: pointer;
}
#mainContainer .containerShadow .menu .item3 {
	background-color: #3CC;
	position: relative;
	left: 320px;
	top: -160px;
	color:#FFF;
	height: 30px;
	width: 60px;
	border-radius: 15px 15px 15px 15px;
	line-height:30px;
	font-family:'SimHei';
	font-size:18px;
	letter-spacing:2px;
	-webkit-box-reflect: below 5px -webkit-gradient(linear, center top, center bottom, from(transparent),color-stop(0.2, transparent), to(white)); 
	-moz-user-select: none;  
	-khtml-user-select: none;              		    user-select: none; 
	cursor:pointer;  
}
#mainContainer .containerShadow .menu .item4 {
	background-color: #3CC;
	position:relative;
	left: 400px;
	top: -190px;
	color:#FFF;
	height: 30px;
	width: 90px;
	border-radius: 15px 15px 15px 15px;
	line-height:30px;
	font-family:'SimHei';
	font-size:18px;
	letter-spacing:2px;
	-webkit-box-reflect: below 5px -webkit-gradient(linear, center top, center bottom, from(transparent),color-stop(0.2, transparent), to(white));  
	-moz-user-select: none;  
	-khtml-user-select: none;              		    user-select: none; 
	cursor:pointer; 
}
#mainContainer .containerShadow .body {
	position:relative;
	height: 600px;
}
#mainContainer .containerShadow .footer {
	height: 150px;
	position:absolute;
	bottom:0px;
	text-align:center;
}

/* The bouncing box */

.loginbox{
	background-color : #FFC125;
	width: 400px;
	padding: 2px;
	margin: 0px;
	position: absolute;
	left:300px;
	top:75px;
	z-index:3;
	position:absolute;
}

.registerbox{
	background-color : #FFC125;
	width: 640px;
	padding: 2px;
	margin: 0px;
	position: absolute;
	left:300px;
	top:75px;
	z-index:4;
	position:absolute;
}
.logincontent{
	height: 150px; 
	background-color: white;
	padding : 35px;
	overflow: auto;
	z-index:3;
}
.registercontent{
	height: 500px; 
	background-color: white;
	padding : 2px;
	overflow: auto;
	z-index:4;
}

.title{
	padding : 2px;
}

.title img{
	width: 20px;
	height: 20px;
	float: right;
	cursor: pointer;
}
.chartContainer {
	background-color:#FFFFFF;
	margin: 0px;
	background-image: url(bg.gif);
	background-repeat: repeat;
}
.chartShadow{
	font-family: 'SimHei';
	float: left;
	height: 930px;
	width: 700px;
	text-align:center;
	margin-left:10px; 
	margin-right:auto;
	background-color:#FFFFFF;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#909090,direction=120,strength=4);
	-moz-box-shadow: 2px 2px 10px #909090;/*firefox*/
	-webkit-box-shadow: 2px 2px 10px #909090;/*safari或chrome*/
	box-shadow:2px 2px 10px #909090;/*opera或ie9*/
}
.galleriaclass{
	margin-left:15px;
	margin-top:15px;
	z-index:2;
	position:absolute;
}
.commandShadow{
	position:relative;
	margin:25px;
	font-family: 'SimHei';
	height: 200px;
	width: 300px;
	background-color:#FFFFFF;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#909090,direction=120,strength=4);
	-moz-box-shadow: 2px 2px 10px #909090;/*firefox*/
	-webkit-box-shadow: 2px 2px 10px #909090;/*safari或chrome*/
	box-shadow:2px 2px 10px #909090;/*opera或ie9*/
}
.commandShadow div{
	poition: float;
	align: left;
}

.command{
	float:right;
	text-align: left;
	padding: 10px;
	width:160px;	
}
.more{
	background: #F22;
	position: absolute;
	padding: 1px 4px 2px 3px;
	padding: 2px 4px 1px 3pxurl(0);
	border: 1px solid #333;
	color: white;
	line-height: 100%;
	-webkit-text-size-adjust: none;
	font-size: 12px;
	z-index: 5;
	font-family: 微软雅黑,Arial;
	border-radius: 15px;
	opacity: .8;
	text-shadow: 1px 1px 2px #333;
	left: 250px;
	bottom: 20px;
	overflow: hidden;
	text-align: -webkit-match-parent;
}
a:-webkit-any-link {
	text-decoration: none;
	cursor: auto;
	color: white;
	text-align: center;
}
.fadebutton {
	background-color: #3CC;
	position: absolute;
	top:170px;
	right:200px;
	color:#FFF;
	height: 30px;
	width: 90px;
	border-radius: 15px 15px 15px 15px;
	line-height:30px;
	font-family:'SimHei';
	font-size:18px;
	letter-spacing:2px;
	-webkit-box-reflect: below 5px -webkit-gradient(linear, center top, center bottom, from(transparent),color-stop(0.2, transparent), to(white));  
	-moz-user-select: none;  
	-khtml-user-select: none;              		   
	user-select: none; 
	cursor:pointer;
}
.window{
	background-color : #FFC125;
	width: 250px;
	height: 200px;
	padding: 2px;
	margin: 5px;
	position: absolute;
	left:300px;
	top:75px;
}
.content{
	z-index:1;
	position:absolute;
	height: 250px;
	width:296px; 
	background-color: white;
	padding : 2px;
	overflow: auto;
}

#rightcontent{
	height: 173px; 
	background-color : white;
	padding : 2px;
	overflow: auto;
}
#right{
	background-color : #FFC125;
	width: 300px;
	padding: 2px;
	margin: 5px;
	position: absolute;
	left:300px;
	top:75px;
	display :none;	
}
/* Styling the big button */

/* Only needed for the demonstration page */